@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply w-full h-full rounded-xl text-center bg-black/40 shadow-lg;
}

/* button {
  @apply shadow-lg w-full h-full bg-gray-950/50 hover:bg-gray-950/80 transition-all font-semibold text-blue-100 rounded-xl px-4 py-2 border border-blue-400;
} */

button {
  @apply shadow-lg w-full h-full bg-blue-600/10 hover:bg-gray-950/80 transition-all font-semibold text-blue-100 rounded-xl px-1 md:px-4 py-1 md:py-2 border border-blue-600;
}

input#ignore-placeholder::placeholder {
  @apply text-white font-semibold;
}

/* Hide the spinner for WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
